<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4aba4735-77c4-4bff-a726-20125d043c8d" name="http://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="4aba4735-77c4-4bff-a726-20125d043c8dfileName">http%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>